/node_module
/dist/
/bingo/dist
/bingo/node_module
/bingo_server/node_module
/db/data1
/db/data2
/db/data3

/bingo/*.class
/bingo/*.py[cod]
/bingo/*.log
/bingo/*.jar
/bingo/target/
/bingo/dist/
/bingo/.idea/
/bingo/TEST*.xml
/bingo/.DS_Store
/bingo/Thumbs.db
/bingo/*.app
/bingo/*.exe
/bingo/*.war
/bingo/*.mp4
/bingo/*.tiff
/bingo/*.avi
/bingo/*.flv
/bingo/*.mov
/bingo/*.wmv

/bingo_server/*.class
/bingo_server/*.py[cod]
/bingo_server/*.log
/bingo_server/*.jar
/bingo_server/target/
/bingo_server/dist/
/bingo_server/.idea/
/bingo_server/TEST*.xml
/bingo_server/.DS_Store
/bingo_server/Thumbs.db
/bingo_server/*.app
/bingo_server/*.exe
/bingo_server/*.war
/bingo_server/*.mp4
/bingo_server/*.tiff
/bingo_server/*.avi
/bingo_server/*.flv
/bingo_server/*.mov
/bingo_server/*.wmv


*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

